@import "../helpers/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
u{
    text-decoration: none;
}

body{
    background: url('../../img/wave.svg') no-repeat right top;
    background-size: 52%;

    
}