#section4{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
        margin-top: 80px;
    }
    article{
        display: flex;
        margin: 80px 0 100px 170px;
        height: 50vh;
        div{
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            margin-right: 5vw;
            h3{
                text-align: center;
                margin: 50px 0 50px 0;
            }
            p{
                margin: 0 35px 35px 35px;
            }
            .price{
                font-size: $price;
                font-weight: $semi-bold;
                color: $bleu_fluo;
            }
        }
    }
}