//Colors
$gris: #42495B;
$grisfoncer: #484848;
$grisclair: #7A839E;
$gristropclair:#999999;

$gristresclair: #F6F7FB;

$white: white;
$mauve: #7E76F9;
$mauve_opacite:rgba(126, 118, 249, 0.1);
$mauve_opacite2:rgba(126, 118, 249, 0.05);
$bleu_fluo: #1000FF;

$degradiant_bleu:linear-gradient(90deg, #1A129F 50%, #6156F9 100%); ;

//Font police
$Dosis:     'Dosis', sans-serif;
$Lobster:   'Lobster', cursive;
$Poppins:   'Poppins', sans-serif;

//Font weigth
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: bold;

//Font size
$logo: 37px;
$p: 13px;
$h3: 25px;
$h4: 15px;
$h2: 47px;
$h1: 70px;
$description: 17px;
$price:27px;
$email:10px

